.Controls {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Controls {
    padding: 1rem 0;
  }
}
